* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  padding-bottom: 10px;
}

header {
  background-color: #d3d3d3;
  padding: 1.5rem;
  text-align: center;
}

main {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
}

main> article:first-child {
  grid-column: span 2;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 40px;
}

article h2 {
  margin-bottom: 0.5rem;
  text-align: left;
  display: grid;
}

article {
  grid-column: 2 / 3;
  margin-bottom: 1rem;
}

article {
  grid-column: span 3;
  text-decoration: none;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightyellow;
  text-align: center;
  padding: 1rem;
  border-top: 2px solid #aaa;
}
