:root {
  --paper: oklash(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px
}

body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
}

a {
  padding: var(-space);
  border: var(--line);
  max-width: fit-content;
}
img,
svg {
  width: 20%;
  object-fit: cover;
}

header {
  background-color: #d3d3d3;
  padding: 1rem;
  text-align: center;
}

main {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
  max-width: var(--container);
  margin: 0 auto calc(var(--space) * 4) auto;
> *:first-child {
  grid-column: span 2;
  }
}
article {
  padding-bottom: var(--space);
  padding-left: 20px;
  text-align: left;
  display: grid;
  grid-template-column: var(--space) 1fr var(--space);
  border: var(--line);
}

> * {
  grid-column: 2 / 3;
  
}

> img {
  grid-column: span 3;
  }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightyellow;
  text-align: center;
  padding: 1rem;
  border-top: 2px solid #aaa;
}
